---
import Layout from '@layouts/Layout.astro';
import { getCollection } from '@logic/data.ts';

const { collection: collectionId } = Astro.params;
const { collection, error } = await getCollection(collectionId || '', Astro.request.headers.get('x-amzn-oidc-accesstoken'));

---

<Layout title={ 'Edit - ' + collection.name } error={ error }>

  <nav class="govuk-breadcrumbs govuk-!-margin-bottom-6" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Collections</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Edit
      </li>
    </ol>
  </nav>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Edit collection</h1>

      <p><strong>Collection:</strong> { collection.name }</p>

      <form class="govuk-!-margin-top-7" method="post" action="/api/update-collection/" enctype="multipart/form-data">
        <input type="hidden" value={ collectionId } name="collection"/>
        <div class="govuk-form-group">
          <label class="govuk-label" for="name">Collection name</label>
          <input class="govuk-input" id="name" name="name" type="text" value={ collection.name } required />
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="description">Description</label>
          <div id="description-hint" class="govuk-hint" style="font-size: 1rem;">Describe the contents of this collection so that AI agents and chatbots know when to use it. Specific, verbose descriptions are better than short, generic ones.</div>
          <input class="govuk-input" id="description" name="description" type="text" value={ collection.description } aria-describedby="description-hint" />
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="prompt">
            Custom prompt
            <strong class="govuk-tag">Experimental</strong>
          </label>
          <div id="prompt-hint" class="govuk-hint" style="font-size: 1rem;">This will override the default system prompt in Gov AI Client. The default will be used if this is empty.</div>
          <textarea class="govuk-textarea" id="prompt" name="prompt" rows="5" aria-describedby="prompt-hint">{ collection.custom_prompt }</textarea>
        </div>
        <button class="govuk-button">Update</button>
      </form>

    </div>
  </div>

</Layout>
