---
import Layout from '@layouts/Layout.astro';
import { getResourceDetails } from '@logic/data.ts';

const { collection: collectionId, resource: resourceId } = Astro.params;
const resource = await getResourceDetails(collectionId || '', resourceId || '', Astro.request.headers.get('x-amzn-oidc-accesstoken'));

---

<Layout title={'Delete ' + resource.filename || resource.id }>

  <nav class="govuk-breadcrumbs govuk-!-margin-bottom-6" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Collections</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../../resources">Resources</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Delete
      </li>
    </ol>
  </nav>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Delete resource</h1>

      <p><strong>Resource:</strong> { resource.filename || resource.id }</p>

      <form method="post" action="/api/delete-resource/" enctype="multipart/form-data">
        <input type="hidden" value={ collectionId } name="collection"/>
        <input type="hidden" value={ resourceId } name="resourceId"/>
        <input type="hidden" value={ resource.filename || resource.id } name="resourceName"/>
        <div class="govuk-button-group">
          <button class={ 'govuk-button plausible-event-name=Delete-Resource plausible-event-collection=' + collectionId + ' plausible-event-resource=' + resource.filename }>Confirm delete</button>
          <a class="govuk-button govuk-button--secondary" href="../../resources">Cancel</a>
        </div>
      </form>

    </div>
  </div>

</Layout>
