---
import 'dotenv/config';
import SidePanel from '@components/SidePanel.astro';
import '../../node_modules/i.ai-design-system/dist/iai-design-system.css';
import '../styles/global.css';

const { title, error } = Astro.props;
const version = process.env.GIT_SHA;
const generator = `caddy-${ version }`;
const notification = Astro.url.searchParams.get('notification');

const isAdmin = await Astro.session?.get('isAdmin');

const chatUrl = (() => {
  if (process.env.ENVIRONMENT?.toLowerCase() === 'dev' || process.env.ENVIRONMENT?.toLowerCase() === 'preprod') {
    return `https://gov-ai-client-${process.env.ENVIRONMENT.toLocaleLowerCase()}.ai.cabinetoffice.gov.uk`;
  } else if (process.env.ENVIRONMENT?.toLowerCase() === 'local') {
    return 'http://localhost:4321';
  }
  return 'https://gov-ai-client.ai.cabinetoffice.gov.uk';
})();

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ generator } />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title } - Caddy Admin</title>

		{!isAdmin &&
			<script is:inline defer data-domain={ process.env['DOMAIN'] } src="https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
			<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
		}

	</head>
	<body class="govuk-template__body govuk-frontend-supported relative lg:flex">

		<SidePanel productName="Caddy Admin" productLogo="/caddy.png">

			<a class="flex mt-1 ml-1 gap-2 group items-start no-underline! rounded-sm focus:bg-transparent! focus:shadow-none!" href={ chatUrl }>
				<span class="rounded-full">
					<svg class="cursor-pointer w-4 rotate-180 md:w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right h-4 w-4" focusable="false" aria-label="Back to chat">
						<path d="m9 18 6-6-6-6"></path>
					</svg>
				</span>
				<span class="sidepanel__hide-on-collapse border-b-1 mt-[2px] hover:border-b-3" aria-hidden="true">Back to chat</span>
			</a>

		</SidePanel>


		<div class="overflow-y-auto w-full lg:h-screen" id="scroll-panel">
			<div class="govuk-width-container ml-17! sm:ml-20! lg:mx-auto! lg:px-4">
				<main class="govuk-main-wrapper pb-0! pt-4!">

					{ error &&
						<div class="govuk-error-summary" data-module="govuk-error-summary">
							<div role="alert">
								<h2 class="govuk-error-summary__title">
									There is a problem
								</h2>
								<div class="govuk-error-summary__body">
									<p>{ error }</p>
								</div>
							</div>
						</div>
					}

					{ notification &&
						<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
							<div class="govuk-panel__body" set:html={ notification }></div>
						</div>
					}

					<slot />

				</main>
			</div>
		</div>

		<style is:global>
			body:has(.iai-footer) .govuk-main-wrapper {
				min-height: calc(100vh - 155px);
			}

			.govuk-panel--confirmation {
				background-color: var(--iai-pink);
			}
			.govuk-panel__body {
				text-wrap: balance;
			}
		</style>

		{/* Sortable tables */}
		<style is:global>
			th[data-sortable] button {
				background-color: transparent;
				border: 0;
				cursor: pointer;
				font-size: inherit;
				font-weight: bold;
				padding: 0;
			}
			th[aria-sort="ascending"]::after {
				content: "▲";
			}
			th[aria-sort="descending"]::after {
				content: "▼";
			}
			th[aria-sort]::after {
				bottom: 1px;
				color: #505a5f;
				font-size: 0.875rem;
				margin-left: 0.5rem;
				position: relative;
			}

			

		</style>

		<script src="/scripts/iai-design-system.js" is:inline></script>

	</body>
</html>
