---
import 'dotenv/config';
import Layout from '@layouts/Layout.astro';
import {CollectionPermission, getCollections } from '@logic/data.ts';

let { collectionsData, error } = await getCollections(Astro.request.headers.get('x-amzn-oidc-accesstoken'));

const collections = collectionsData.collections?.sort((a, b) => {
  return a.name > b.name ? 1 : -1;
}) || [];

const chatLink = (() => {
  let urlSegment = '';
  if (process.env['ENVIRONMENT']?.toLowerCase() === 'preprod') {
    urlSegment = '-preprod';
  } else if (process.env['ENVIRONMENT']?.toLowerCase() === 'dev') {
    urlSegment = '-dev';
  }
  return `https://gov-ai-client${urlSegment}.ai.cabinetoffice.gov.uk`;
})();

const adminCount = collections.filter((collection) => collection.permissions.includes(CollectionPermission.MANAGE_RESOURCES)).length;

---

<Layout title="Collections" error={error}>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-l">Manage Collections</h1>

      <p>You currently manage { adminCount } collections.</p>
      
       { collections.length ?
        <ul class="ml-0 mt-9">
          { collections.map((collection) =>
            <li class="border-b-1 broder-solid border-border-grey flex gap-3 pb-3 pt-[0.75rem] last:border-0">
              <span class="pt-[2px]">
                <span class="bg-black flex h-9 items-center justify-center rounded-full text-white text-lg w-9">{ collection.name[0].toUpperCase() }</span>
              </span>
              <span>
                <a class="block" href={ `/collections/${collection.id}` }>
                  <h2>{ collection.name }</h2>
                </a>
                { collection.description &&
                  <p class="block govuk-body-s mt-1!">{ collection.description }</p>
                }
              </span>
            </li>
          )}
        </ul>
      :
        <p>No collections found.</p>
      }

      <a class="iai-button mt-1" href="/collections/add">Create new collection</a>

    </div>
  </div>

</Layout>

<script src="@components/sortable-table.ts"></script>
